@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700');

.boxSnippet {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.leftBox {
  width: 5%;
  margin-top: 10vr;
}

.midBox {
  width: 2%;
  border-style: solid;
  border-width: 1vr;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: transparent;
  border-top-color: transparent;
}

.smallBoxLeft {
  width: 48%;
  height: 100%;
  display: block;
  counter-reset: my-sec-counter;
}

.smallBoxRight {
  width: 49%;
  height: 570px;
  background-color: black;
}

.bottomBox {
  width: 98.5%;
  margin: 10px;
  min-height: 150vr;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.forInput {
  margin-left: 10px;
  width: 100%;
  font-family: 'Courier', Courier, monospace;
  border: none;
  outline: none;
  resize: none;
}

.forOutput {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  font-family: 'Courier', Courier, monospace;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  resize: none;
}

.forDoc {
  margin-top: 20px;
  margin-left: 10px;
  width: 100%;
  font-family: 'Courier', Courier, monospace;
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
}

.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  flex-direction: column;
}

.insideLoginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputItem {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
}

.buttonPress {
  width: 225px;
  height: 35px;
  background-color: rgb(230, 151, 31);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Baskerville', serif;
  box-shadow: none;
}

.buttonPress:hover {
  background-color: white;
  color: rgb(230, 151, 31);
}

.buttonItem {
  padding-bottom: 50px;
}

.signUpParrent {
  font-size: 14px;
}

.signUpChild {
  text-decoration: none;
  font-size: 14px;
  color: rgb(48, 72, 88);
}

.signUpChild:hover {
  color: rgb(108, 163, 160);
}

.container {
  margin: 15px;
}

.profile {
  margin-bottom: 20px;
  height: 300px;
  text-align: center;
}

.name {
  font-family: 'Ubuntu', sans-serif;
}

.username {
  font-family: 'Roboto Mono', monospace;
}

img {
  width: 180px;
  height: 180px;
}

.histContent {
  width: 30%;
}

.history {
  display: flex;
  align-items: center;
  justify-content: center;
}

.histories {
  padding: 20px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.histories:hover {
  background-color: darkgray;
}

.topBar {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  justify-content: center;
}

.buttonToConvert {
  margin-right: 10px;
  display: block;
  cursor: pointer;
  background-color: rgb(250, 140, 26);
  padding: 5px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: transparent;
  padding: 5px;
}

.buttonToConvert:hover {
  background-color: white;
  color: rgb(250, 140, 26);
  border-color: rgb(250, 140, 26);
}

.imgHor {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.imageFb {
  width: 41px;
  height: 41px;
  margin-right: 25px;
  cursor: pointer;
}

.imageFb:hover {
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  border-radius: 20px;
  background-color: rgb(230, 151, 31);
}

.imageGg {
  cursor: pointer;
  margin-left: 25px;
  margin-top: 3px;
  width: 35px;
  height: 35px;
}

.imageGg:hover {
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  border-radius: 20px;
  background-color: rgb(230, 151, 31);
}

.line {
  border-style: solid;
  border-width: 1px;
  border-top-color: black;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 222px;
}

.startedGuest {
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  width: 145px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(250, 140, 26);
  margin-bottom: 20px;
}

.startedGuest:hover {
  color: rgb(250, 140, 26);
  background-color: white;
  border-color: rgb(250, 140, 26);
}

.startedUser {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.itemStarted {
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  width: 80px;
  padding: 8px;
  border-radius: 10px;
  color: white;
  background-color: rgb(250, 140, 26);
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}

.itemStarted:hover {
  border-color: rgb(250, 140, 26);
  color: rgb(250, 140, 26);
  background-color: white;
}
