@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.navbar {
  width: 100%;
	height: 60vr;
  background-color: rgb(230, 151, 31);
  background: linear-gradient(to bottom, rgb(230, 151, 31) 0%, rgb(250, 140, 26) 50%);
	align-items: center;
	display: flex;
  justify-content: space-between;
  font-family: 'Titillium Web', sans-serif;
}

.leftContent {
  margin-left: 20px;
  cursor: pointer;
  color: white;
}

.rightContent {
  margin-right: 40px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  align-self: center;
}

.rightContent:hover {
  padding: 10px;
  background-color: white;
  color: rgb(230, 151, 31);
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid transparent;
  border-radius: 5px;
  margin-right: 30px;
  margin-left: -11px;
}

.rightContainer {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bold;
}

.rightContentDropDown {
  margin-right: 40px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: white;
  font-weight: bold;
}

.rightContentDropDown:hover {
  padding: 10px;
  background-color: white;
  color: rgb(230, 151, 31);
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid transparent;
  border-radius: 5px;
  margin-right: 30px;
  margin-left: -11px;
}

.dropdownContent {
  display: none;
  margin-top: 60px;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 122px;
  box-shadow: 0vr 8vr 16vr 0vr rgba(0,0,0,0.2);
  z-index: 1;
  border: 0.5px solid transparent;
  border-radius: 5px;
}

.dropdownContent .item {
  color: rgb(230, 151, 31);
  margin-left: 10px;
  display: block;
}

.dropdownContent .item:hover {
  color: black;
}

.rightContentDropDown:hover .dropdownContent {
  display: block;
}

.link {
  text-decoration: none;
}

.navbarLogo {
  height: 30px;
  color: white;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35em;
}

.readmeModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.readmeOverlay {
  position: fixed;
  z-index: 99;
  top: 5%;
  left: 25%;
  right: 25%;
  bottom: 10%;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(250, 140, 26);
}

imageContain {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  padding-bottom: 10px;
  border-bottom-color: rgb(250, 140, 26);
}

.hintImage1 {
  width: 350px;
  height: auto;
}

.hintImage2 {
  width: 320px;
  height: auto;
}

.titleHint {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media only screen and (min-width: 1000px) {
  .hintImage1 {
    width: 430px;
    height: auto;
  }
  
  .hintImage2 {
    width: 400px;
    height: auto;
  }
}

@media only screen and (min-width: 1300px) {
  .hintImage1 {
    width: 500px;
    height: auto;
  }
  
  .hintImage2 {
    width: 500px;
    height: auto;
  }
}